<md-dialog aria-label="وظیفه جدید">
  <form name="formGroup" ng-submit="saveGroup(group)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>گروه ها</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
          <span class="fa fa-window-close"></span>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px; width: 450px;">
        <md-content layout-padding>
          <div>
            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm>
                <label>نام</label>
                <input ng-required="true" name="name" ng-model="group.name" autocomplete="off">
                <div ng-messages="formGroup.name.$error">
                    <div ng-message="required">وارد کردن نام گروه الزامی است.</div>
                </div>
              </md-input-container>
            </div>
            <md-input-container class="md-block">
              <label>توضیحات</label>
              <textarea ng-model="group.description" md-maxlength="50" rows="5" name="description" md-select-on-focus></textarea>
              <div ng-message="formGroup.description.$error">
                  <div ng-message="maxlength">توضیحات نباید بیشتر از ۵۰ کاراکتر باشد.</div>
              </div>
            </md-input-container>
        </div>
    </md-content>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-switch ng-model="group.status" aria-label="وضعیت">
        {{group.status ? "فعال" : "غیرفعال"}}
      </md-switch>
      <span flex></span>
       <md-button type="submit"class="md-raised md-primary">تایید</md-button>
    </md-dialog-actions>
  </form>  
</md-dialog>